@model ProyectoControlDeParqueos.Models.TicketSalida

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>TicketSalida</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="idTicketSalida" />
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RegistroVehiculoId" class="control-label"></label>
                <select asp-for="RegistroVehiculoId" class="form-control" asp-items="ViewBag.RegistroVehiculoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ParqueoId" class="control-label"></label>
                <select asp-for="ParqueoId" class="form-control" asp-items="ViewBag.ParqueoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TarifaId" class="control-label"></label>
                <select asp-for="TarifaId" class="form-control" asp-items="ViewBag.TarifaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="fechaSalida" class="control-label"></label>
                <input asp-for="fechaSalida" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="costoTotal" class="control-label"></label>
                <input asp-for="costoTotal" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="cantidad" class="control-label"></label>
                <input asp-for="cantidad" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary ms-2">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
